# mor

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 280].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_mor', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_mor'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952     True
29977     True
29978     True
Name: mor, Length: 4697, dtype: object

mor
False    2754
True     1943
Name: count, dtype: int64

最適な深さ: 8
最適な最小サンプル数: 1

           importance
Al / Si      0.101700
Na / Si      0.081502
F / Si       0.004365
H2O / Si     0.030600
sda1 / Si    0.035928
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   1833   232
True     264  1193

       False  True
False    566   123
True     140   346

正解率(Accuracy) : 訓練 0.8591709256104486, 検証 0.7761702127659574
適合率(Precision) : 訓練 0.8371929824561404, 検証 0.7377398720682303
再現率(Recall) : 訓練 0.818805765271105, 検証 0.7119341563786008
F1スコア : 訓練 0.8278972935461485, 検証 0.724607329842932

'mordred_mor.pdf'

# bea

In [2]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 281].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_bea', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_bea'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: bea, Length: 4697, dtype: object

bea
False    4232
True      465
Name: count, dtype: int64

最適な深さ: 7
最適な最小サンプル数: 15

           importance
Al / Si      0.012099
Na / Si      0.021329
F / Si       0.000000
H2O / Si     0.065377
sda1 / Si    0.105046
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3119    54
True     162   187

       False  True
False   1019    40
True      64    52

正解率(Accuracy) : 訓練 0.938671209540034, 検証 0.9114893617021277
適合率(Precision) : 訓練 0.7759336099585062, 検証 0.5652173913043478
再現率(Recall) : 訓練 0.5358166189111748, 検証 0.4482758620689655
F1スコア : 訓練 0.6338983050847458, 検証 0.5

'mordred_bea.pdf'

# mtt

In [3]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 282].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_bea', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_bea'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: mtt, Length: 4697, dtype: object

mtt
False    4192
True      505
Name: count, dtype: int64

最適な深さ: 42
最適な最小サンプル数: 4

           importance
Al / Si      0.086875
Na / Si      0.033268
F / Si       0.000067
H2O / Si     0.149762
sda1 / Si    0.081524
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.225791
TSRW10       0.000000
WPath        0.011307

[272 rows x 1 columns]

       False  True
False   3102    41
True      94   285

       False  True
False   1024    25
True      50    76

正解率(Accuracy) : 訓練 0.9616695059625213, 検証 0.9361702127659575
適合率(Precision) : 訓練 0.8742331288343558, 検証 0.7524752475247525
再現率(Recall) : 訓練 0.7519788918205804, 検証 0.6031746031746031
F1スコア : 訓練 0.8085106382978723, 検証 0.6696035242290749

'mordred_bea.pdf'

# cas

In [4]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 283].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_cas', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_cas'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: cas, Length: 4697, dtype: object

cas
False    3357
True     1340
Name: count, dtype: int64

最適な深さ: 52
最適な最小サンプル数: 5

           importance
Al / Si      0.149301
Na / Si      0.067955
F / Si       0.000262
H2O / Si     0.055927
sda1 / Si    0.053350
...               ...
JGT10        0.000000
SRW09        0.003022
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   2386   131
True     204   801

       False  True
False    733   107
True     119   216

正解率(Accuracy) : 訓練 0.9048835888699602, 検証 0.8076595744680851
適合率(Precision) : 訓練 0.8594420600858369, 検証 0.6687306501547987
再現率(Recall) : 訓練 0.7970149253731343, 検証 0.6447761194029851
F1スコア : 訓練 0.8270521424883841, 検証 0.6565349544072948

'mordred_cas.pdf'

# d6r

In [5]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 284].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_d6r', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_d6r'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d6r, Length: 4697, dtype: object

d6r
False    3705
True      992
Name: count, dtype: int64

最適な深さ: 8
最適な最小サンプル数: 1

           importance
Al / Si      0.086214
Na / Si      0.025119
F / Si       0.006239
H2O / Si     0.067381
sda1 / Si    0.045901
...               ...
JGT10        0.006634
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.022673

[272 rows x 1 columns]

       False  True
False   2699    79
True     232   512

       False  True
False    869    58
True     107   141

正解率(Accuracy) : 訓練 0.9116978989210676, 検証 0.8595744680851064
適合率(Precision) : 訓練 0.8663282571912013, 検証 0.7085427135678392
再現率(Recall) : 訓練 0.6881720430107527, 検証 0.5685483870967742
F1スコア : 訓練 0.7670411985018727, 検証 0.6308724832214765

'mordred_d6r.pdf'

# fer

In [6]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 285].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_fer', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_fer'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: fer, Length: 4697, dtype: object

fer
False    4455
True      242
Name: count, dtype: int64

最適な深さ: 12
最適な最小サンプル数: 2

           importance
Al / Si      0.147279
Na / Si      0.073131
F / Si       0.009744
H2O / Si     0.209012
sda1 / Si    0.018804
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3329    12
True      61   120

       False  True
False   1104    10
True      29    32

正解率(Accuracy) : 訓練 0.9792731402612153, 検証 0.9668085106382979
適合率(Precision) : 訓練 0.9090909090909091, 検証 0.7619047619047619
再現率(Recall) : 訓練 0.6629834254143646, 検証 0.5245901639344263
F1スコア : 訓練 0.7667731629392971, 検証 0.6213592233009708

'mordred_fer.pdf'

# mel

In [7]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 286].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_mel', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_mel'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mel, Length: 4697, dtype: object

mel
False    3364
True     1333
Name: count, dtype: int64

最適な深さ: 11
最適な最小サンプル数: 1

           importance
Al / Si      0.083723
Na / Si      0.066229
F / Si       0.004741
H2O / Si     0.043513
sda1 / Si    0.050939
...               ...
JGT10        0.006831
SRW09        0.000000
SRW10        0.000000
TSRW10       0.002334
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   2391   131
True     208   792

       False  True
False    744    98
True     114   219

正解率(Accuracy) : 訓練 0.903747870528109, 検証 0.8195744680851064
適合率(Precision) : 訓練 0.8580715059588299, 検証 0.6908517350157729
再現率(Recall) : 訓練 0.792, 検証 0.6576576576576577
F1スコア : 訓練 0.8237129485179407, 検証 0.6738461538461539

'mordred_mel.pdf'

# mfi

In [8]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 287].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_mfi', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_mfi'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mfi, Length: 4697, dtype: object

mfi
False    3502
True     1195
Name: count, dtype: int64

最適な深さ: 10
最適な最小サンプル数: 1

           importance
Al / Si      0.087974
Na / Si      0.045900
F / Si       0.002988
H2O / Si     0.026497
sda1 / Si    0.053622
...               ...
JGT10        0.003541
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   2504   122
True     203   693

       False  True
False    782    94
True     104   195

正解率(Accuracy) : 訓練 0.9077228847245883, 検証 0.8314893617021276
適合率(Precision) : 訓練 0.8503067484662576, 検証 0.6747404844290658
再現率(Recall) : 訓練 0.7734375, 検証 0.6521739130434783
F1スコア : 訓練 0.8100526008182349, 検証 0.6632653061224489

'mordred_mfi.pdf'

# mtw

In [9]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 288].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_mtw', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_mtw'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: mtw, Length: 4697, dtype: object

mtw
False    4050
True      647
Name: count, dtype: int64

最適な深さ: 8
最適な最小サンプル数: 3

           importance
Al / Si      0.048844
Na / Si      0.090189
F / Si       0.001539
H2O / Si     0.031740
sda1 / Si    0.043318
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   2974    63
True     167   318

       False  True
False    971    42
True      82    80

正解率(Accuracy) : 訓練 0.9346961953435547, 検証 0.894468085106383
適合率(Precision) : 訓練 0.8346456692913385, 検証 0.6557377049180327
再現率(Recall) : 訓練 0.6556701030927835, 検証 0.49382716049382713
F1スコア : 訓練 0.7344110854503464, 検証 0.5633802816901409

'mordred_mtw.pdf'

# ton

In [10]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 289].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_ton', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_ton'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: ton, Length: 4697, dtype: object

ton
False    4306
True      391
Name: count, dtype: int64

最適な深さ: 14
最適な最小サンプル数: 1

           importance
Al / Si      0.095554
Na / Si      0.061358
F / Si       0.001699
H2O / Si     0.139645
sda1 / Si    0.065422
...               ...
JGT10        0.004578
SRW09        0.000000
SRW10        0.184371
TSRW10       0.004659
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3226     3
True      45   248

       False  True
False   1040    37
True      34    64

正解率(Accuracy) : 訓練 0.9863713798977853, 検証 0.9395744680851064
適合率(Precision) : 訓練 0.9880478087649402, 検証 0.6336633663366337
再現率(Recall) : 訓練 0.8464163822525598, 検証 0.6530612244897959
F1スコア : 訓練 0.9117647058823529, 検証 0.6432160804020101

'mordred_ton.pdf'

# non

In [11]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 290].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_non', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_non'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: non, Length: 4697, dtype: object

non
False    4579
True      118
Name: count, dtype: int64

最適な深さ: 6
最適な最小サンプル数: 2

           importance
Al / Si      0.091722
Na / Si      0.021190
F / Si       0.035568
H2O / Si     0.000000
sda1 / Si    0.005231
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3422    12
True      34    54

       False  True
False   1139     6
True      14    16

正解率(Accuracy) : 訓練 0.986939239068711, 検証 0.9829787234042553
適合率(Precision) : 訓練 0.8181818181818182, 検証 0.7272727272727273
再現率(Recall) : 訓練 0.6136363636363636, 検証 0.5333333333333333
F1スコア : 訓練 0.7012987012987013, 検証 0.6153846153846154

'mordred_non.pdf'

# d8r

In [12]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 291].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_d8r', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_d8r'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d8r, Length: 4697, dtype: object

d8r
False    4671
True       26
Name: count, dtype: int64

最適な深さ: 3
最適な最小サンプル数: 4

           importance
Al / Si      0.000000
Na / Si      0.000000
F / Si       0.000000
H2O / Si     0.000000
sda1 / Si    0.124635
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3501     2
True      14     5

       False  True
False   1167     1
True       6     1

正解率(Accuracy) : 訓練 0.9954571266325951, 検証 0.9940425531914894
適合率(Precision) : 訓練 0.7142857142857143, 検証 0.5
再現率(Recall) : 訓練 0.2631578947368421, 検証 0.14285714285714285
F1スコア : 訓練 0.38461538461538464, 検証 0.2222222222222222

'mordred_d8r.pdf'

# can

In [13]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 292].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_can', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_can'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: can, Length: 4697, dtype: object

can
False    4543
True      154
Name: count, dtype: int64

最適な深さ: 33
最適な最小サンプル数: 4

           importance
Al / Si      0.152800
Na / Si      0.143623
F / Si       0.000000
H2O / Si     0.078347
sda1 / Si    0.131880
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3394    13
True      34    81

       False  True
False   1127     9
True      21    18

正解率(Accuracy) : 訓練 0.9866553094832482, 検証 0.9744680851063829
適合率(Precision) : 訓練 0.8617021276595744, 検証 0.6666666666666666
再現率(Recall) : 訓練 0.7043478260869566, 検証 0.46153846153846156
F1スコア : 訓練 0.7751196172248804, 検証 0.5454545454545454

'mordred_can.pdf'

# phi

In [14]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 293].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_phi', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_phi'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: phi, Length: 4697, dtype: object

phi
False    4581
True      116
Name: count, dtype: int64

最適な深さ: 8
最適な最小サンプル数: 4

           importance
Al / Si      0.025402
Na / Si      0.045104
F / Si       0.124299
H2O / Si     0.004449
sda1 / Si    0.040024
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3429     6
True      30    57

       False  True
False   1138     8
True       9    20

正解率(Accuracy) : 訓練 0.989778534923339, 検証 0.985531914893617
適合率(Precision) : 訓練 0.9047619047619048, 検証 0.7142857142857143
再現率(Recall) : 訓練 0.6551724137931034, 検証 0.6896551724137931
F1スコア : 訓練 0.76, 検証 0.7017543859649122

'mordred_phi.pdf'

# sod

In [15]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 294].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_sod', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_sod'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: sod, Length: 4697, dtype: object

sod
False    4395
True      302
Name: count, dtype: int64

最適な深さ: 7
最適な最小サンプル数: 4

           importance
Al / Si      0.175119
Na / Si      0.067097
F / Si       0.000000
H2O / Si     0.048147
sda1 / Si    0.065862
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.007693

[272 rows x 1 columns]

       False  True
False   3285    11
True     148    78

       False  True
False   1087    12
True      58    18

正解率(Accuracy) : 訓練 0.954855195911414, 検証 0.9404255319148936
適合率(Precision) : 訓練 0.8764044943820225, 検証 0.6
再現率(Recall) : 訓練 0.34513274336283184, 検証 0.23684210526315788
F1スコア : 訓練 0.49523809523809526, 検証 0.33962264150943394

'mordred_sod.pdf'

# gme

In [16]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 295].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_gme', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_gme'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: gme, Length: 4697, dtype: object

gme
False    4529
True      168
Name: count, dtype: int64

最適な深さ: 17
最適な最小サンプル数: 2

           importance
Al / Si      0.052835
Na / Si      0.220397
F / Si       0.000000
H2O / Si     0.070161
sda1 / Si    0.089059
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3392     4
True      45    81

       False  True
False   1121    12
True      21    21

正解率(Accuracy) : 訓練 0.9860874503123226, 検証 0.9719148936170213
適合率(Precision) : 訓練 0.9529411764705882, 検証 0.6363636363636364
再現率(Recall) : 訓練 0.6428571428571429, 検証 0.5
F1スコア : 訓練 0.7677725118483413, 検証 0.56

'mordred_gme.pdf'

# pau

In [17]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 296].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_pau', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_pau'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: pau, Length: 4697, dtype: object

pau
False    4671
True       26
Name: count, dtype: int64

最適な深さ: 2
最適な最小サンプル数: 1

           importance
Al / Si      0.000000
Na / Si      0.194652
F / Si       0.000000
H2O / Si     0.000000
sda1 / Si    0.000000
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3501     2
True      13     6

       False  True
False   1166     2
True       7     0

正解率(Accuracy) : 訓練 0.995741056218058, 検証 0.9923404255319149
適合率(Precision) : 訓練 0.75, 検証 0.0
再現率(Recall) : 訓練 0.3157894736842105, 検証 0.0
F1スコア : 訓練 0.4444444444444444, 検証 0.0

'mordred_pau.pdf'

# lta

In [18]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 297].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_lta', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_lta'
決定木=Source.from_file(dot_file_path)
決定木.view()

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: lta, Length: 4697, dtype: object

lta
False    4577
True      120
Name: count, dtype: int64

最適な深さ: 4
最適な最小サンプル数: 14

           importance
Al / Si      0.000000
Na / Si      0.078015
F / Si       0.000000
H2O / Si     0.051857
sda1 / Si    0.002421
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3416    16
True      66    24

       False  True
False   1140     5
True      27     3

正解率(Accuracy) : 訓練 0.97671777399205, 検証 0.9727659574468085
適合率(Precision) : 訓練 0.6, 検証 0.375
再現率(Recall) : 訓練 0.26666666666666666, 検証 0.1
F1スコア : 訓練 0.36923076923076925, 検証 0.15789473684210525

'mordred_lta.pdf'

# jbw

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU_jbw.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 298].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
from sklearn.tree import DecisionTreeClassifier
import numpy as np
max_depths=np.arange(1, 71, 1)
all_min_samples_leaf=np.arange(1, 20, 1)
from sklearn.model_selection import StratifiedKFold
fold=StratifiedKFold(n_splits=5, shuffle=True, random_state=99)
from sklearn.model_selection import GridSearchCV
model_for_cross_validation=DecisionTreeClassifier()
gs_cv=GridSearchCV(model_for_cross_validation, {'max_depth':max_depths, 'min_samples_leaf':all_min_samples_leaf}, cv=fold)
gs_cv.fit(x_train, y_train)
optimal_depths=gs_cv.best_params_['max_depth']
optimal_samples=gs_cv.best_params_['min_samples_leaf']
print(f"最適な深さ: {optimal_depths}")
print(f"最適な最小サンプル数: {optimal_samples}")

model = DecisionTreeClassifier(max_depth=optimal_depths, min_samples_leaf=optimal_samples)
model.fit(x_train, y_train)

importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

from sklearn.tree import export_graphviz
from graphviz import Source
with open('mordred_jbw', 'w') as f:
    export_graphviz(model, out_file=f, feature_names=x.columns, class_names=model.classes_)
dot_file_path='mordred_jbw'
決定木=Source.from_file(dot_file_path)
決定木.view()

C:\Users\yamamoto02\AppData\Local\Temp\ipykernel_16868\1187579493.py:2: DtypeWarning: Columns (281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv('dataset_mordred_CBU_jbw.csv', index_col=0, header=0)

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: jbw, Length: 4697, dtype: object

jbw
False    4148
True      549
Name: count, dtype: int64

最適な深さ: 29
最適な最小サンプル数: 1

           importance
Al / Si      0.117467
Na / Si      0.059982
F / Si       0.002079
H2O / Si     0.052958
sda1 / Si    0.037030
...               ...
JGT10        0.000000
SRW09        0.002722
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3110     0
True       6   406

       False  True
False   1008    30
True      29   108

正解率(Accuracy) : 訓練 0.9982964224872232, 検証 0.9497872340425532
適合率(Precision) : 訓練 1.0, 検証 0.782608695652174
再現率(Recall) : 訓練 0.9854368932038835, 検証 0.7883211678832117
F1スコア : 訓練 0.9926650366748166, 検証 0.7854545454545454

'mordred_jbw.pdf'