# mor

In [4]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 280].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952     True
29977     True
29978     True
Name: mor, Length: 4697, dtype: object

mor
False    2754
True     1943
Name: count, dtype: int64

            importance
Al / Si    1866.653713
Na / Si    1297.467302
F / Si       90.959015
H2O / Si    832.344402
sda1 / Si  1086.401644
...                ...
JGT10        32.141060
SRW09        23.939279
SRW10         0.000000
TSRW10       56.788689
WPath         8.923475

[272 rows x 1 columns]

       False  True
False   1951   114
True     146  1311

       False  True
False    582   107
True     131   355

正解率(Accuracy) : 訓練 0.9261783077796707, 検証 0.7974468085106383
適合率(Precision) : 訓練 0.92, 検証 0.7683982683982684
再現率(Recall) : 訓練 0.8997940974605353, 検証 0.7304526748971193
F1スコア : 訓練 0.9097848716169327, 検証 0.7489451476793249

# bea

In [5]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 281].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: bea, Length: 4697, dtype: object

bea
False    4232
True      465
Name: count, dtype: int64

           importance
Al / Si    753.544615
Na / Si    538.931804
F / Si      61.300750
H2O / Si   866.170636
sda1 / Si  905.181846
...               ...
JGT10        0.000000
SRW09       10.802580
SRW10        2.954030
TSRW10       3.739287
WPath        0.316564

[272 rows x 1 columns]

       False  True
False   3156    17
True       7   342

       False  True
False   1012    47
True      55    61

正解率(Accuracy) : 訓練 0.9931856899488927, 検証 0.9131914893617021
適合率(Precision) : 訓練 0.9526462395543176, 検証 0.5648148148148148
再現率(Recall) : 訓練 0.9799426934097422, 検証 0.5258620689655172
F1スコア : 訓練 0.9661016949152542, 検証 0.5446428571428571

# mtt

In [6]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 282].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: mtt, Length: 4697, dtype: object

mtt
False    4192
True      505
Name: count, dtype: int64

            importance
Al / Si    1197.479167
Na / Si     558.750456
F / Si       39.617779
H2O / Si   1294.160036
sda1 / Si   547.161742
...                ...
JGT10        52.914061
SRW09         3.120066
SRW10      2033.259433
TSRW10        1.653751
WPath         0.941682

[272 rows x 1 columns]

       False  True
False   3129    14
True      15   364

       False  True
False   1019    30
True      39    87

正解率(Accuracy) : 訓練 0.9917660420215787, 検証 0.9412765957446808
適合率(Precision) : 訓練 0.9629629629629629, 検証 0.7435897435897436
再現率(Recall) : 訓練 0.9604221635883905, 検証 0.6904761904761905
F1スコア : 訓練 0.9616908850726552, 検証 0.7160493827160493

# cas

In [7]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 283].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: cas, Length: 4697, dtype: object

cas
False    3357
True     1340
Name: count, dtype: int64

            importance
Al / Si    2911.265846
Na / Si    1010.341209
F / Si       51.693225
H2O / Si    600.457453
sda1 / Si   813.102665
...                ...
JGT10        18.835279
SRW09        27.302061
SRW10         3.089920
TSRW10       23.687059
WPath         0.000000

[272 rows x 1 columns]

       False  True
False   2432    85
True     102   903

       False  True
False    757    83
True      99   236

正解率(Accuracy) : 訓練 0.9469051675184554, 検証 0.8451063829787234
適合率(Precision) : 訓練 0.9139676113360324, 検証 0.7398119122257053
再現率(Recall) : 訓練 0.8985074626865671, 検証 0.7044776119402985
F1スコア : 訓練 0.9061716006021073, 検証 0.7217125382262997

# d6r

In [8]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 284].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d6r, Length: 4697, dtype: object

d6r
False    3705
True      992
Name: count, dtype: int64

            importance
Al / Si    1487.338031
Na / Si     704.419883
F / Si       50.230336
H2O / Si    918.771107
sda1 / Si  1080.733165
...                ...
JGT10       178.647299
SRW09        48.034941
SRW10         9.898440
TSRW10      110.691432
WPath         2.206160

[272 rows x 1 columns]

       False  True
False   2734    44
True     108   636

       False  True
False    875    52
True      86   162

正解率(Accuracy) : 訓練 0.9568427030096536, 検証 0.8825531914893617
適合率(Precision) : 訓練 0.9352941176470588, 検証 0.7570093457943925
再現率(Recall) : 訓練 0.8548387096774194, 検証 0.6532258064516129
F1スコア : 訓練 0.8932584269662921, 検証 0.7012987012987013

# fer

In [9]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 285].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: fer, Length: 4697, dtype: object

fer
False    4455
True      242
Name: count, dtype: int64

            importance
Al / Si    1041.057627
Na / Si     540.837242
F / Si       44.127540
H2O / Si    682.384367
sda1 / Si   466.319234
...                ...
JGT10        46.645886
SRW09         0.794269
SRW10        18.525281
TSRW10        0.000000
WPath        19.436742

[272 rows x 1 columns]

       False  True
False   3336     5
True      12   169

       False  True
False   1100    14
True      31    30

正解率(Accuracy) : 訓練 0.9951731970471324, 検証 0.9617021276595744
適合率(Precision) : 訓練 0.9712643678160919, 検証 0.6818181818181818
再現率(Recall) : 訓練 0.9337016574585635, 検証 0.4918032786885246
F1スコア : 訓練 0.952112676056338, 検証 0.5714285714285714

# mel

In [10]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 286].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mel, Length: 4697, dtype: object

mel
False    3364
True     1333
Name: count, dtype: int64

            importance
Al / Si    1598.301816
Na / Si     968.118366
F / Si       76.421163
H2O / Si    649.883392
sda1 / Si   925.483702
...                ...
JGT10         7.730475
SRW09         3.455460
SRW10         2.442750
TSRW10       14.080370
WPath         2.647090

[272 rows x 1 columns]

       False  True
False   2444    78
True     141   859

       False  True
False    762    80
True     116   217

正解率(Accuracy) : 訓練 0.9378194207836457, 検証 0.8331914893617022
適合率(Precision) : 訓練 0.9167556029882604, 検証 0.7306397306397306
再現率(Recall) : 訓練 0.859, 検証 0.6516516516516516
F1スコア : 訓練 0.8869385647909138, 検証 0.6888888888888889

# mfi

In [11]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 287].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mfi, Length: 4697, dtype: object

mfi
False    3502
True     1195
Name: count, dtype: int64

            importance
Al / Si    1800.810683
Na / Si     842.052347
F / Si       78.992457
H2O / Si    604.150056
sda1 / Si   713.647989
...                ...
JGT10        16.336442
SRW09         7.973460
SRW10         8.349530
TSRW10       19.599580
WPath         2.180580

[272 rows x 1 columns]

       False  True
False   2561    65
True     117   779

       False  True
False    797    79
True     109   190

正解率(Accuracy) : 訓練 0.9483248154457694, 検証 0.84
適合率(Precision) : 訓練 0.9229857819905213, 検証 0.7063197026022305
再現率(Recall) : 訓練 0.8694196428571429, 検証 0.6354515050167224
F1スコア : 訓練 0.8954022988505748, 検証 0.6690140845070423

# mtw

In [12]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 288].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: mtw, Length: 4697, dtype: object

mtw
False    4050
True      647
Name: count, dtype: int64

            importance
Al / Si    1074.917427
Na / Si     921.898560
F / Si       87.175727
H2O / Si    669.332230
sda1 / Si   674.395550
...                ...
JGT10         3.727930
SRW09         2.329113
SRW10         0.705189
TSRW10        8.920500
WPath         0.000000

[272 rows x 1 columns]

       False  True
False   3008    29
True      52   433

       False  True
False    978    35
True      85    77

正解率(Accuracy) : 訓練 0.9770017035775128, 検証 0.8978723404255319
適合率(Precision) : 訓練 0.9372294372294372, 検証 0.6875
再現率(Recall) : 訓練 0.8927835051546392, 検証 0.47530864197530864
F1スコア : 訓練 0.914466737064414, 検証 0.5620437956204379

# ton

In [13]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 289].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: ton, Length: 4697, dtype: object

ton
False    4306
True      391
Name: count, dtype: int64

            importance
Al / Si     746.099462
Na / Si     666.472866
F / Si       41.709456
H2O / Si    836.500127
sda1 / Si   501.416799
...                ...
JGT10        36.985046
SRW09         2.293454
SRW10      1166.718982
TSRW10        2.426926
WPath         7.469651

[272 rows x 1 columns]

       False  True
False   3222     7
True      12   281

       False  True
False   1044    33
True      31    67

正解率(Accuracy) : 訓練 0.9946053378762068, 検証 0.945531914893617
適合率(Precision) : 訓練 0.9756944444444444, 検証 0.67
再現率(Recall) : 訓練 0.9590443686006825, 検証 0.6836734693877551
F1スコア : 訓練 0.9672977624784854, 検証 0.6767676767676768

# non

In [14]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 290].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: non, Length: 4697, dtype: object

non
False    4579
True      118
Name: count, dtype: int64

           importance
Al / Si    415.809705
Na / Si    278.688183
F / Si     172.371448
H2O / Si    97.935066
sda1 / Si  165.687746
...               ...
JGT10        2.245488
SRW09        2.636710
SRW10        0.152700
TSRW10       0.970043
WPath        0.253988

[272 rows x 1 columns]

       False  True
False   3432     2
True       4    84

       False  True
False   1135    10
True      14    16

正解率(Accuracy) : 訓練 0.9982964224872232, 検証 0.9795744680851064
適合率(Precision) : 訓練 0.9767441860465116, 検証 0.6153846153846154
再現率(Recall) : 訓練 0.9545454545454546, 検証 0.5333333333333333
F1スコア : 訓練 0.9655172413793104, 検証 0.5714285714285714

# d8r

In [15]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 291].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d8r, Length: 4697, dtype: object

d8r
False    4671
True       26
Name: count, dtype: int64

           importance
Al / Si     98.258611
Na / Si     30.825000
F / Si      28.682227
H2O / Si   322.083215
sda1 / Si  128.154833
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3503     0
True       4    15

       False  True
False   1164     4
True       6     1

正解率(Accuracy) : 訓練 0.9988642816581488, 検証 0.9914893617021276
適合率(Precision) : 訓練 1.0, 検証 0.2
再現率(Recall) : 訓練 0.7894736842105263, 検証 0.14285714285714285
F1スコア : 訓練 0.8823529411764706, 検証 0.16666666666666666

# can

In [16]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 292].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: can, Length: 4697, dtype: object

can
False    4543
True      154
Name: count, dtype: int64

           importance
Al / Si    544.134717
Na / Si    513.621924
F / Si       1.180083
H2O / Si   562.668763
sda1 / Si  549.267746
...               ...
JGT10        0.000000
SRW09        0.264746
SRW10        0.000000
TSRW10       0.000000
WPath        1.645314

[272 rows x 1 columns]

       False  True
False   3406     1
True      12   103

       False  True
False   1128     8
True      21    18

正解率(Accuracy) : 訓練 0.9963089153889836, 検証 0.9753191489361702
適合率(Precision) : 訓練 0.9903846153846154, 検証 0.6923076923076923
再現率(Recall) : 訓練 0.8956521739130435, 検証 0.46153846153846156
F1スコア : 訓練 0.9406392694063926, 検証 0.5538461538461539

# phi

In [17]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 293].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: phi, Length: 4697, dtype: object

phi
False    4581
True      116
Name: count, dtype: int64

           importance
Al / Si    263.633384
Na / Si    326.759509
F / Si     221.215805
H2O / Si    65.578719
sda1 / Si  192.689332
...               ...
JGT10        0.002436
SRW09        0.000000
SRW10        2.456596
TSRW10       0.646832
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3431     4
True       3    84

       False  True
False   1135    11
True       5    24

正解率(Accuracy) : 訓練 0.9980124929017604, 検証 0.9863829787234043
適合率(Precision) : 訓練 0.9545454545454546, 検証 0.6857142857142857
再現率(Recall) : 訓練 0.9655172413793104, 検証 0.8275862068965517
F1スコア : 訓練 0.96, 検証 0.75

# sod

In [18]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 294].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: sod, Length: 4697, dtype: object

sod
False    4395
True      302
Name: count, dtype: int64

           importance
Al / Si    941.144184
Na / Si    606.382513
F / Si      29.406515
H2O / Si   680.390758
sda1 / Si  615.573792
...               ...
JGT10       15.508937
SRW09        5.668934
SRW10        1.667132
TSRW10      23.643101
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3290     6
True      21   205

       False  True
False   1069    30
True      44    32

正解率(Accuracy) : 訓練 0.9923339011925043, 検証 0.9370212765957446
適合率(Precision) : 訓練 0.9715639810426541, 検証 0.5161290322580645
再現率(Recall) : 訓練 0.9070796460176991, 検証 0.42105263157894735
F1スコア : 訓練 0.9382151029748284, 検証 0.463768115942029

# gme

In [19]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 295].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: gme, Length: 4697, dtype: object

gme
False    4529
True      168
Name: count, dtype: int64

           importance
Al / Si    471.786364
Na / Si    749.488175
F / Si       1.719670
H2O / Si   469.141040
sda1 / Si  421.665948
...               ...
JGT10        0.478311
SRW09        0.000000
SRW10       23.199560
TSRW10       0.339301
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3394     2
True      15   111

       False  True
False   1124     9
True      21    21

正解率(Accuracy) : 訓練 0.9951731970471324, 検証 0.9744680851063829
適合率(Precision) : 訓練 0.9823008849557522, 検証 0.7
再現率(Recall) : 訓練 0.8809523809523809, 検証 0.5
F1スコア : 訓練 0.9288702928870293, 検証 0.5833333333333334

# pau

In [20]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 296].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: pau, Length: 4697, dtype: object

pau
False    4671
True       26
Name: count, dtype: int64

           importance
Al / Si     71.527233
Na / Si     73.759699
F / Si       7.197073
H2O / Si    76.548947
sda1 / Si  129.826940
...               ...
JGT10      285.113830
SRW09        0.000000
SRW10        0.000000
TSRW10      11.593238
WPath        0.000000

[272 rows x 1 columns]

       False  True
False   3501     2
True       2    17

       False  True
False   1164     4
True       6     1

正解率(Accuracy) : 訓練 0.9988642816581488, 検証 0.9914893617021276
適合率(Precision) : 訓練 0.8947368421052632, 検証 0.2
再現率(Recall) : 訓練 0.8947368421052632, 検証 0.14285714285714285
F1スコア : 訓練 0.8947368421052632, 検証 0.16666666666666666

# lta

In [21]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 297].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: lta, Length: 4697, dtype: object

lta
False    4577
True      120
Name: count, dtype: int64

           importance
Al / Si    454.963535
Na / Si    458.767437
F / Si      65.872930
H2O / Si   300.263151
sda1 / Si  386.699172
...               ...
JGT10        0.000000
SRW09        2.124370
SRW10        0.000000
TSRW10       0.000000
WPath        2.001430

[272 rows x 1 columns]

       False  True
False   3428     4
True       4    86

       False  True
False   1132    13
True      23     7

正解率(Accuracy) : 訓練 0.9977285633162976, 検証 0.9693617021276596
適合率(Precision) : 訓練 0.9555555555555556, 検証 0.35
再現率(Recall) : 訓練 0.9555555555555556, 検証 0.23333333333333334
F1スコア : 訓練 0.9555555555555556, 検証 0.28

# jbw

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU_jbw.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 298].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import lightgbm as lgbm
model=lgbm.LGBMClassifier(importance_type = "gain")
model.fit(x_train, y_train)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)
CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))
from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train, estimated_y_train)
precision_train = metrics.precision_score(y_train, estimated_y_train, pos_label="True")
recall_train = metrics.recall_score(y_train, estimated_y_train, pos_label="True")
f1_train = metrics.f1_score(y_train, estimated_y_train, pos_label="True")
display(confusion_matrix_train)
confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test, estimated_y_test)
precision_test = metrics.precision_score(y_test, estimated_y_test, pos_label="True")
recall_test = metrics.recall_score(y_test, estimated_y_test, pos_label="True")
f1_test = metrics.f1_score(y_test, estimated_y_test, pos_label="True")
display(confusion_matrix_test)
print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

C:\Users\yamamoto02\AppData\Local\Temp\ipykernel_2272\1675326282.py:2: DtypeWarning: Columns (281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv('dataset_mordred_CBU_jbw.csv', index_col=0, header=0)

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: jbw, Length: 4697, dtype: object

jbw
False    4148
True      549
Name: count, dtype: int64

            importance
Al / Si    2627.000102
Na / Si     632.455094
F / Si       24.460276
H2O / Si    629.553131
sda1 / Si   318.685798
...                ...
JGT10       130.000999
SRW09         7.298130
SRW10         1.329384
TSRW10        3.125100
WPath        83.963507

[272 rows x 1 columns]

       False  True
False   3108     2
True       5   407

       False  True
False   1021    17
True      21   116

正解率(Accuracy) : 訓練 0.9980124929017604, 検証 0.9676595744680851
適合率(Precision) : 訓練 0.9951100244498777, 検証 0.8721804511278195
再現率(Recall) : 訓練 0.9878640776699029, 検証 0.8467153284671532
F1スコア : 訓練 0.9914738124238733, 検証 0.8592592592592593