# mor

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 280]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952     True
29977     True
29978     True
Name: mor, Length: 4697, dtype: bool

mor
False    2754
True     1943
Name: count, dtype: int64

           importance
Al / Si      0.003011
Na / Si      0.002985
F / Si       0.001697
H2O / Si     0.002426
sda1 / Si    0.002519
...               ...
JGT10        0.001719
SRW09        0.009192
SRW10        0.003847
TSRW10       0.004995
WPath        0.004520

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   1996     69
True      76   1381

テストデータ

       False  True
False    579    110
True     129    357

正解率(Accuracy) : 訓練 0.9588302101078933, 検証 0.796595744680851
適合率(Precision) : 訓練 0.9524137931034483, 検証 0.7644539614561028
再現率(Recall) : 訓練 0.9478380233356212, 検証 0.7345679012345679
F1スコア : 訓練 0.9501203990368077, 検証 0.7492130115424974

# bea

In [2]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 281]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: bea, Length: 4697, dtype: bool

bea
False    4232
True      465
Name: count, dtype: int64

           importance
Al / Si      0.001389
Na / Si      0.002035
F / Si       0.001521
H2O / Si     0.002570
sda1 / Si    0.002808
...               ...
JGT10        0.003024
SRW09        0.000518
SRW10        0.000000
TSRW10       0.002663
WPath        0.002014

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3157     16
True       8    341

テストデータ

       False  True
False   1011     48
True      54     62

正解率(Accuracy) : 訓練 0.9931856899488927, 検証 0.9131914893617021
適合率(Precision) : 訓練 0.9551820728291317, 検証 0.5636363636363636
再現率(Recall) : 訓練 0.9770773638968482, 検証 0.5344827586206896
F1スコア : 訓練 0.9660056657223796, 検証 0.5486725663716814

# mtt

In [3]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 282]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: mtt, Length: 4697, dtype: bool

mtt
False    4192
True      505
Name: count, dtype: int64

           importance
Al / Si      0.002117
Na / Si      0.002075
F / Si       0.001764
H2O / Si     0.007689
sda1 / Si    0.001737
...               ...
JGT10        0.000987
SRW09        0.000899
SRW10        0.328746
TSRW10       0.001373
WPath        0.000843

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3131     12
True      16    363

テストデータ

       False  True
False   1014     35
True      42     84

正解率(Accuracy) : 訓練 0.9920499716070414, 検証 0.934468085106383
適合率(Precision) : 訓練 0.968, 検証 0.7058823529411765
再現率(Recall) : 訓練 0.9577836411609498, 検証 0.6666666666666666
F1スコア : 訓練 0.9628647214854111, 検証 0.6857142857142857

# cas

In [4]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 283]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: cas, Length: 4697, dtype: bool

cas
False    3357
True     1340
Name: count, dtype: int64

           importance
Al / Si      0.003836
Na / Si      0.001815
F / Si       0.001085
H2O / Si     0.001900
sda1 / Si    0.001512
...               ...
JGT10        0.013800
SRW09        0.000000
SRW10        0.002037
TSRW10       0.003045
WPath        0.003162

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   2464     53
True      66    939

テストデータ

       False  True
False    762     78
True     101    234

正解率(Accuracy) : 訓練 0.9662123793299262, 検証 0.8476595744680852
適合率(Precision) : 訓練 0.9465725806451613, 検証 0.75
再現率(Recall) : 訓練 0.9343283582089552, 検証 0.6985074626865672
F1スコア : 訓練 0.9404106159238859, 検証 0.723338485316847

# d6r

In [5]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 284]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d6r, Length: 4697, dtype: bool

d6r
False    3705
True      992
Name: count, dtype: int64

           importance
Al / Si      0.003184
Na / Si      0.002235
F / Si       0.001633
H2O / Si     0.003632
sda1 / Si    0.002857
...               ...
JGT10        0.004493
SRW09        0.009422
SRW10        0.003153
TSRW10       0.002108
WPath        0.000000

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   2745     33
True      72    672

テストデータ

       False  True
False    874     53
True      90    158

正解率(Accuracy) : 訓練 0.9701873935264055, 検証 0.8782978723404256
適合率(Precision) : 訓練 0.9531914893617022, 検証 0.7488151658767772
再現率(Recall) : 訓練 0.9032258064516129, 検証 0.6370967741935484
F1スコア : 訓練 0.927536231884058, 検証 0.6884531590413944

# fer

In [6]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 285]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: fer, Length: 4697, dtype: bool

fer
False    4455
True      242
Name: count, dtype: int64

           importance
Al / Si      0.003995
Na / Si      0.003053
F / Si       0.001322
H2O / Si     0.006836
sda1 / Si    0.003607
...               ...
JGT10        0.010752
SRW09        0.006319
SRW10        0.002141
TSRW10       0.001342
WPath        0.009287

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3336      5
True      17    164

テストデータ

       False  True
False   1099     15
True      32     29

正解率(Accuracy) : 訓練 0.9937535491198183, 検証 0.96
適合率(Precision) : 訓練 0.9704142011834319, 検証 0.6590909090909091
再現率(Recall) : 訓練 0.9060773480662984, 検証 0.47540983606557374
F1スコア : 訓練 0.9371428571428572, 検証 0.5523809523809524

# mel

In [7]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 286]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mel, Length: 4697, dtype: bool

mel
False    3364
True     1333
Name: count, dtype: int64

           importance
Al / Si      0.003403
Na / Si      0.002632
F / Si       0.001933
H2O / Si     0.002450
sda1 / Si    0.002771
...               ...
JGT10        0.001101
SRW09        0.006950
SRW10        0.000971
TSRW10       0.006072
WPath        0.002850

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   2477     45
True      75    925

テストデータ

       False  True
False    747     95
True     110    223

正解率(Accuracy) : 訓練 0.9659284497444633, 検証 0.825531914893617
適合率(Precision) : 訓練 0.9536082474226805, 検証 0.7012578616352201
再現率(Recall) : 訓練 0.925, 検証 0.6696696696696697
F1スコア : 訓練 0.9390862944162437, 検証 0.685099846390169

# mfi

In [8]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 287]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mfi, Length: 4697, dtype: bool

mfi
False    3502
True     1195
Name: count, dtype: int64

           importance
Al / Si      0.003246
Na / Si      0.002352
F / Si       0.002323
H2O / Si     0.002172
sda1 / Si    0.002049
...               ...
JGT10        0.001796
SRW09        0.002640
SRW10        0.002069
TSRW10       0.003271
WPath        0.001361

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   2582     44
True      58    838

テストデータ

       False  True
False    786     90
True     114    185

正解率(Accuracy) : 訓練 0.9710391822827938, 検証 0.8263829787234043
適合率(Precision) : 訓練 0.9501133786848073, 検証 0.6727272727272727
再現率(Recall) : 訓練 0.9352678571428571, 検証 0.6187290969899666
F1スコア : 訓練 0.9426321709786277, 検証 0.6445993031358885

# mtw

In [9]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 288]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: mtw, Length: 4697, dtype: bool

mtw
False    4050
True      647
Name: count, dtype: int64

           importance
Al / Si      0.001625
Na / Si      0.001741
F / Si       0.001581
H2O / Si     0.001841
sda1 / Si    0.001547
...               ...
JGT10        0.001012
SRW09        0.000000
SRW10        0.000433
TSRW10       0.001099
WPath        0.000949

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3025     12
True      32    453

テストデータ

       False  True
False    970     43
True      82     80

正解率(Accuracy) : 訓練 0.9875070982396366, 検証 0.8936170212765957
適合率(Precision) : 訓練 0.9741935483870968, 検証 0.6504065040650406
再現率(Recall) : 訓練 0.934020618556701, 検証 0.49382716049382713
F1スコア : 訓練 0.9536842105263158, 検証 0.5614035087719298

# ton

In [10]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 289]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: ton, Length: 4697, dtype: bool

ton
False    4306
True      391
Name: count, dtype: int64

           importance
Al / Si      0.002327
Na / Si      0.002401
F / Si       0.002580
H2O / Si     0.005869
sda1 / Si    0.003029
...               ...
JGT10        0.007663
SRW09        0.000000
SRW10        0.240068
TSRW10       0.002294
WPath        0.000484

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3224      5
True      16    277

テストデータ

       False  True
False   1043     34
True      34     64

正解率(Accuracy) : 訓練 0.9940374787052811, 検証 0.9421276595744681
適合率(Precision) : 訓練 0.9822695035460993, 検証 0.6530612244897959
再現率(Recall) : 訓練 0.9453924914675768, 検証 0.6530612244897959
F1スコア : 訓練 0.9634782608695652, 検証 0.6530612244897959

# non

In [11]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 290]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: non, Length: 4697, dtype: bool

non
False    4579
True      118
Name: count, dtype: int64

           importance
Al / Si      0.002642
Na / Si      0.002510
F / Si       0.003039
H2O / Si     0.002275
sda1 / Si    0.002361
...               ...
JGT10        0.002652
SRW09        0.032742
SRW10        0.000000
TSRW10       0.000000
WPath        0.000726

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3432      2
True       5     83

テストデータ

       False  True
False   1136      9
True      14     16

正解率(Accuracy) : 訓練 0.9980124929017604, 検証 0.9804255319148936
適合率(Precision) : 訓練 0.9764705882352941, 検証 0.64
再現率(Recall) : 訓練 0.9431818181818182, 検証 0.5333333333333333
F1スコア : 訓練 0.9595375722543352, 検証 0.5818181818181818

# d8r

In [12]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 291]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d8r, Length: 4697, dtype: bool

d8r
False    4671
True       26
Name: count, dtype: int64

           importance
Al / Si      0.016606
Na / Si      0.006451
F / Si       0.008290
H2O / Si     0.019398
sda1 / Si    0.007281
...               ...
JGT10        0.038949
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000228
WPath        0.000000

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3503      0
True       5     14

テストデータ

       False  True
False   1167      1
True       6      1

正解率(Accuracy) : 訓練 0.998580352072686, 検証 0.9940425531914894
適合率(Precision) : 訓練 1.0, 検証 0.5
再現率(Recall) : 訓練 0.7368421052631579, 検証 0.14285714285714285
F1スコア : 訓練 0.8484848484848485, 検証 0.2222222222222222

# can

In [13]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 292]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: can, Length: 4697, dtype: bool

can
False    4543
True      154
Name: count, dtype: int64

           importance
Al / Si      0.005463
Na / Si      0.005613
F / Si       0.000000
H2O / Si     0.006682
sda1 / Si    0.004411
...               ...
JGT10        0.011043
SRW09        0.000000
SRW10        0.003082
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3406      1
True      14    101

テストデータ

       False  True
False   1127      9
True      19     20

正解率(Accuracy) : 訓練 0.995741056218058, 検証 0.9761702127659575
適合率(Precision) : 訓練 0.9901960784313726, 検証 0.6896551724137931
再現率(Recall) : 訓練 0.8782608695652174, 検証 0.5128205128205128
F1スコア : 訓練 0.9308755760368663, 検証 0.5882352941176471

# phi

In [14]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 293]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: phi, Length: 4697, dtype: bool

phi
False    4581
True      116
Name: count, dtype: int64

           importance
Al / Si      0.004827
Na / Si      0.003193
F / Si       0.039454
H2O / Si     0.002717
sda1 / Si    0.001730
...               ...
JGT10        0.028452
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000357
WPath        0.000000

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3429      6
True       4     83

テストデータ

       False  True
False   1135     11
True       8     21

正解率(Accuracy) : 訓練 0.997160704145372, 検証 0.9838297872340426
適合率(Precision) : 訓練 0.9325842696629213, 検証 0.65625
再現率(Recall) : 訓練 0.9540229885057471, 検証 0.7241379310344828
F1スコア : 訓練 0.9431818181818182, 検証 0.6885245901639344

# sod

In [15]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 294]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: sod, Length: 4697, dtype: bool

sod
False    4395
True      302
Name: count, dtype: int64

           importance
Al / Si      0.007530
Na / Si      0.005072
F / Si       0.002574
H2O / Si     0.005546
sda1 / Si    0.005168
...               ...
JGT10        0.000672
SRW09        0.000000
SRW10        0.000000
TSRW10       0.001936
WPath        0.000000

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3291      5
True      19    207

テストデータ

       False  True
False   1075     24
True      43     33

正解率(Accuracy) : 訓練 0.9931856899488927, 検証 0.9429787234042554
適合率(Precision) : 訓練 0.9764150943396226, 検証 0.5789473684210527
再現率(Recall) : 訓練 0.915929203539823, 検証 0.4342105263157895
F1スコア : 訓練 0.9452054794520548, 検証 0.49624060150375937

# gme

In [16]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 295]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: gme, Length: 4697, dtype: bool

gme
False    4529
True      168
Name: count, dtype: int64

           importance
Al / Si      0.005214
Na / Si      0.011846
F / Si       0.000000
H2O / Si     0.012854
sda1 / Si    0.004905
...               ...
JGT10        0.001759
SRW09        0.000000
SRW10        0.008899
TSRW10       0.000364
WPath        0.001324

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3393      3
True      14    112

テストデータ

       False  True
False   1121     12
True      22     20

正解率(Accuracy) : 訓練 0.9951731970471324, 検証 0.971063829787234
適合率(Precision) : 訓練 0.9739130434782609, 検証 0.625
再現率(Recall) : 訓練 0.8888888888888888, 検証 0.47619047619047616
F1スコア : 訓練 0.9294605809128631, 検証 0.5405405405405406

# pau

In [17]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 296]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: pau, Length: 4697, dtype: bool

pau
False    4671
True       26
Name: count, dtype: int64

           importance
Al / Si      0.005484
Na / Si      0.006497
F / Si       0.011098
H2O / Si     0.017986
sda1 / Si    0.010442
...               ...
JGT10        0.000000
SRW09        0.000000
SRW10        0.000000
TSRW10       0.000000
WPath        0.000000

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3501      2
True       2     17

テストデータ

       False  True
False   1165      3
True       7      0

正解率(Accuracy) : 訓練 0.9988642816581488, 検証 0.9914893617021276
適合率(Precision) : 訓練 0.8947368421052632, 検証 0.0
再現率(Recall) : 訓練 0.8947368421052632, 検証 0.0
F1スコア : 訓練 0.8947368421052632, 検証 0.0

# lta

In [18]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 297]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: lta, Length: 4697, dtype: bool

lta
False    4577
True      120
Name: count, dtype: int64

           importance
Al / Si      0.005015
Na / Si      0.004262
F / Si       0.003426
H2O / Si     0.005241
sda1 / Si    0.002945
...               ...
JGT10        0.001433
SRW09        0.000000
SRW10        0.000000
TSRW10       0.006260
WPath        0.001150

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3427      5
True       9     81

テストデータ

       False  True
False   1129     16
True      23      7

正解率(Accuracy) : 訓練 0.9960249858035207, 検証 0.9668085106382979
適合率(Precision) : 訓練 0.9418604651162791, 検証 0.30434782608695654
再現率(Recall) : 訓練 0.9, 検証 0.23333333333333334
F1スコア : 訓練 0.9204545454545454, 検証 0.2641509433962264

# jbw

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_mordred_CBU_jbw.csv', index_col=0, header=0)
x=dataset.iloc[:, :272]
y=dataset.iloc[:, 298]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

C:\Users\yamamoto02\AppData\Local\Temp\ipykernel_3900\1170143303.py:2: DtypeWarning: Columns (281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv('dataset_mordred_CBU_jbw.csv', index_col=0, header=0)

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: jbw, Length: 4697, dtype: bool

jbw
False    4148
True      549
Name: count, dtype: int64

           importance
Al / Si      0.005110
Na / Si      0.001774
F / Si       0.001265
H2O / Si     0.004251
sda1 / Si    0.001692
...               ...
JGT10        0.000711
SRW09        0.000159
SRW10        0.001003
TSRW10       0.001064
WPath        0.035185

[272 rows x 1 columns]

トレーニングデータ

       False  True
False   3107      3
True       4    408

テストデータ

       False  True
False   1022     16
True      24    113

正解率(Accuracy) : 訓練 0.9980124929017604, 検証 0.9659574468085106
適合率(Precision) : 訓練 0.9927007299270073, 検証 0.875968992248062
再現率(Recall) : 訓練 0.9902912621359223, 検証 0.8248175182481752
F1スコア : 訓練 0.991494532199271, 検証 0.849624060150376