# mor

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 101].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952     True
29977     True
29978     True
Name: mor, Length: 4697, dtype: object

mor
False    2754
True     1943
Name: count, dtype: int64

           importance
Al / Si      0.009259
Na / Si      0.006751
F / Si       0.010349
H2O / Si     0.007684
sda1 / Si    0.008526
...               ...
MACCS_162    0.020503
MACCS_163    0.010118
MACCS_164    0.002780
MACCS_165    0.005943
MACCS_166    0.003158

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   1973    92
True     107  1350

テストデータ

       False  True
False    585   104
True     134   352

正解率(Accuracy) : 訓練 0.9434980124929018, 検証 0.7974468085106383
適合率(Precision) : 訓練 0.9361997226074896, 検証 0.7719298245614035
再現率(Recall) : 訓練 0.9265614275909403, 検証 0.7242798353909465
F1スコア : 訓練 0.9313556398758193, 検証 0.7473460721868365

# bea

In [2]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 102].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: bea, Length: 4697, dtype: object

bea
False    4232
True      465
Name: count, dtype: int64

           importance
Al / Si      0.005651
Na / Si      0.007309
F / Si       0.008972
H2O / Si     0.018506
sda1 / Si    0.009737
...               ...
MACCS_162    0.026386
MACCS_163    0.005568
MACCS_164    0.001788
MACCS_165    0.028305
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3160    13
True      12   337

テストデータ

       False  True
False   1015    44
True      56    60

正解率(Accuracy) : 訓練 0.9929017603634299, 検証 0.9148936170212766
適合率(Precision) : 訓練 0.9628571428571429, 検証 0.5769230769230769
再現率(Recall) : 訓練 0.9656160458452722, 検証 0.5172413793103449
F1スコア : 訓練 0.9642346208869814, 検証 0.5454545454545454

# mtt

In [3]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 103].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: mtt, Length: 4697, dtype: object

mtt
False    4192
True      505
Name: count, dtype: int64

           importance
Al / Si      0.006719
Na / Si      0.008529
F / Si       0.005535
H2O / Si     0.019009
sda1 / Si    0.009556
...               ...
MACCS_162    0.041150
MACCS_163    0.028800
MACCS_164    0.008921
MACCS_165    0.121822
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3126    17
True      31   348

テストデータ

       False  True
False   1022    27
True      43    83

正解率(Accuracy) : 訓練 0.9863713798977853, 検証 0.9404255319148936
適合率(Precision) : 訓練 0.9534246575342465, 検証 0.7545454545454545
再現率(Recall) : 訓練 0.9182058047493403, 検証 0.6587301587301587
F1スコア : 訓練 0.9354838709677419, 検証 0.7033898305084746

# cas

In [4]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 104].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: cas, Length: 4697, dtype: object

cas
False    3357
True     1340
Name: count, dtype: int64

           importance
Al / Si      0.019440
Na / Si      0.010670
F / Si       0.008957
H2O / Si     0.009791
sda1 / Si    0.009013
...               ...
MACCS_162    0.028295
MACCS_163    0.013927
MACCS_164    0.002559
MACCS_165    0.031019
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   2456    61
True      87   918

テストデータ

       False  True
False    746    94
True     114   221

正解率(Accuracy) : 訓練 0.9579784213515048, 検証 0.8229787234042554
適合率(Precision) : 訓練 0.9376915219611849, 検証 0.7015873015873015
再現率(Recall) : 訓練 0.9134328358208955, 検証 0.6597014925373135
F1スコア : 訓練 0.9254032258064516, 検証 0.68

# d6r

In [5]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 105].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d6r, Length: 4697, dtype: object

d6r
False    3705
True      992
Name: count, dtype: int64

           importance
Al / Si      0.007774
Na / Si      0.007198
F / Si       0.005121
H2O / Si     0.008997
sda1 / Si    0.009872
...               ...
MACCS_162    0.027238
MACCS_163    0.008052
MACCS_164    0.002770
MACCS_165    0.013891
MACCS_166    0.004062

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   2743    35
True      85   659

テストデータ

       False  True
False    869    58
True      88   160

正解率(Accuracy) : 訓練 0.9659284497444633, 検証 0.8757446808510638
適合率(Precision) : 訓練 0.9495677233429395, 検証 0.7339449541284404
再現率(Recall) : 訓練 0.885752688172043, 検証 0.6451612903225806
F1スコア : 訓練 0.9165507649513213, 検証 0.6866952789699571

# fer

In [6]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 106].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: fer, Length: 4697, dtype: object

fer
False    4455
True      242
Name: count, dtype: int64

           importance
Al / Si      0.012403
Na / Si      0.016629
F / Si       0.004218
H2O / Si     0.012476
sda1 / Si    0.010137
...               ...
MACCS_162    0.000000
MACCS_163    0.005441
MACCS_164    0.000000
MACCS_165    0.026444
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3335     6
True      25   156

テストデータ

       False  True
False   1102    12
True      33    28

正解率(Accuracy) : 訓練 0.9911981828506531, 検証 0.9617021276595744
適合率(Precision) : 訓練 0.9629629629629629, 検証 0.7
再現率(Recall) : 訓練 0.861878453038674, 検証 0.45901639344262296
F1スコア : 訓練 0.9096209912536443, 検証 0.5544554455445545

# mel

In [7]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 107].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mel, Length: 4697, dtype: object

mel
False    3364
True     1333
Name: count, dtype: int64

           importance
Al / Si      0.008962
Na / Si      0.006903
F / Si       0.006765
H2O / Si     0.008047
sda1 / Si    0.007248
...               ...
MACCS_162    0.013626
MACCS_163    0.004366
MACCS_164    0.000000
MACCS_165    0.008224
MACCS_166    0.010063

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   2465    57
True     102   898

テストデータ

       False  True
False    750    92
True     115   218

正解率(Accuracy) : 訓練 0.954855195911414, 検証 0.8238297872340425
適合率(Precision) : 訓練 0.9403141361256544, 検証 0.7032258064516129
再現率(Recall) : 訓練 0.898, 検証 0.6546546546546547
F1スコア : 訓練 0.9186700767263427, 検証 0.6780715396578538

# mfi

In [8]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 108].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952    False
29977    False
29978    False
Name: mfi, Length: 4697, dtype: object

mfi
False    3502
True     1195
Name: count, dtype: int64

           importance
Al / Si      0.011326
Na / Si      0.007519
F / Si       0.007605
H2O / Si     0.008164
sda1 / Si    0.007160
...               ...
MACCS_162    0.018206
MACCS_163    0.009104
MACCS_164    0.000729
MACCS_165    0.009867
MACCS_166    0.010402

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   2579    47
True      76   820

テストデータ

       False  True
False    778    98
True     106   193

正解率(Accuracy) : 訓練 0.965076660988075, 検証 0.8263829787234043
適合率(Precision) : 訓練 0.9457900807381776, 検証 0.6632302405498282
再現率(Recall) : 訓練 0.9151785714285714, 検証 0.6454849498327759
F1スコア : 訓練 0.9302325581395349, 検証 0.6542372881355932

# mtw

In [9]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 109].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952     True
29977     True
29978     True
Name: mtw, Length: 4697, dtype: object

mtw
False    4050
True      647
Name: count, dtype: int64

           importance
Al / Si      0.008064
Na / Si      0.008669
F / Si       0.008622
H2O / Si     0.017386
sda1 / Si    0.010620
...               ...
MACCS_162    0.034346
MACCS_163    0.003967
MACCS_164    0.017538
MACCS_165    0.013891
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3022    15
True      38   447

テストデータ

       False  True
False    972    41
True      87    75

正解率(Accuracy) : 訓練 0.9849517319704714, 検証 0.8910638297872341
適合率(Precision) : 訓練 0.9675324675324676, 検証 0.646551724137931
再現率(Recall) : 訓練 0.9216494845360824, 検証 0.46296296296296297
F1スコア : 訓練 0.9440337909186906, 検証 0.539568345323741

# ton

In [10]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 110].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: ton, Length: 4697, dtype: object

ton
False    4306
True      391
Name: count, dtype: int64

           importance
Al / Si      0.009548
Na / Si      0.007360
F / Si       0.004551
H2O / Si     0.009986
sda1 / Si    0.006995
...               ...
MACCS_162    0.000000
MACCS_163    0.006908
MACCS_164    0.006121
MACCS_165    0.121584
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3221     8
True      21   272

テストデータ

       False  True
False   1046    31
True      34    64

正解率(Accuracy) : 訓練 0.9917660420215787, 検証 0.9446808510638298
適合率(Precision) : 訓練 0.9714285714285714, 検証 0.6736842105263158
再現率(Recall) : 訓練 0.9283276450511946, 検証 0.6530612244897959
F1スコア : 訓練 0.9493891797556719, 検証 0.6632124352331606

# non

In [11]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 111].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: non, Length: 4697, dtype: object

non
False    4579
True      118
Name: count, dtype: int64

           importance
Al / Si      0.007265
Na / Si      0.009630
F / Si       0.011087
H2O / Si     0.006443
sda1 / Si    0.011875
...               ...
MACCS_162    0.004971
MACCS_163    0.009632
MACCS_164    0.002324
MACCS_165    0.036238
MACCS_166    0.290319

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3430     4
True       8    80

テストデータ

       False  True
False   1133    12
True      17    13

正解率(Accuracy) : 訓練 0.9965928449744463, 検証 0.9753191489361702
適合率(Precision) : 訓練 0.9523809523809523, 検証 0.52
再現率(Recall) : 訓練 0.9090909090909091, 検証 0.43333333333333335
F1スコア : 訓練 0.9302325581395349, 検証 0.4727272727272727

# d8r

In [12]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 112].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d8r, Length: 4697, dtype: object

d8r
False    4671
True       26
Name: count, dtype: int64

           importance
Al / Si      0.028699
Na / Si      0.013935
F / Si       0.018230
H2O / Si     0.032124
sda1 / Si    0.012819
...               ...
MACCS_162    0.000000
MACCS_163    0.012953
MACCS_164    0.000000
MACCS_165    0.009368
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3503     0
True       5    14

テストデータ

       False  True
False   1168     0
True       6     1

正解率(Accuracy) : 訓練 0.998580352072686, 検証 0.9948936170212765
適合率(Precision) : 訓練 1.0, 検証 1.0
再現率(Recall) : 訓練 0.7368421052631579, 検証 0.14285714285714285
F1スコア : 訓練 0.8484848484848485, 検証 0.25

# can

In [13]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 113].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: can, Length: 4697, dtype: object

can
False    4543
True      154
Name: count, dtype: int64

           importance
Al / Si      0.026149
Na / Si      0.011334
F / Si       0.000000
H2O / Si     0.009909
sda1 / Si    0.013964
...               ...
MACCS_162    0.007403
MACCS_163    0.032457
MACCS_164    0.000000
MACCS_165    0.016794
MACCS_166    0.132008

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3405     2
True      13   102

テストデータ

       False  True
False   1125    11
True      21    18

正解率(Accuracy) : 訓練 0.995741056218058, 検証 0.9727659574468085
適合率(Precision) : 訓練 0.9807692307692307, 検証 0.6206896551724138
再現率(Recall) : 訓練 0.8869565217391304, 検証 0.46153846153846156
F1スコア : 訓練 0.9315068493150684, 検証 0.5294117647058824

# phi

In [14]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 114].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: phi, Length: 4697, dtype: object

phi
False    4581
True      116
Name: count, dtype: int64

           importance
Al / Si      0.021872
Na / Si      0.009499
F / Si       0.092039
H2O / Si     0.018665
sda1 / Si    0.005687
...               ...
MACCS_162    0.000000
MACCS_163    0.001524
MACCS_164    0.004032
MACCS_165    0.000000
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3430     5
True       5    82

テストデータ

       False  True
False   1135    11
True       8    21

正解率(Accuracy) : 訓練 0.997160704145372, 検証 0.9838297872340426
適合率(Precision) : 訓練 0.9425287356321839, 検証 0.65625
再現率(Recall) : 訓練 0.9425287356321839, 検証 0.7241379310344828
F1スコア : 訓練 0.9425287356321839, 検証 0.6885245901639344

# sod

In [15]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 115].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: sod, Length: 4697, dtype: object

sod
False    4395
True      302
Name: count, dtype: int64

           importance
Al / Si      0.018670
Na / Si      0.013683
F / Si       0.004607
H2O / Si     0.014901
sda1 / Si    0.011136
...               ...
MACCS_162    0.006135
MACCS_163    0.014310
MACCS_164    0.000000
MACCS_165    0.030668
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3288     8
True      25   201

テストデータ

       False  True
False   1072    27
True      41    35

正解率(Accuracy) : 訓練 0.9906303236797275, 検証 0.9421276595744681
適合率(Precision) : 訓練 0.9617224880382775, 検証 0.5645161290322581
再現率(Recall) : 訓練 0.8893805309734514, 検証 0.4605263157894737
F1スコア : 訓練 0.9241379310344827, 検証 0.5072463768115942

# gme

In [16]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 116].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250       True
251      False
252      False
253       True
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: gme, Length: 4697, dtype: object

gme
False    4529
True      168
Name: count, dtype: int64

           importance
Al / Si      0.012634
Na / Si      0.024034
F / Si       0.005211
H2O / Si     0.022704
sda1 / Si    0.010291
...               ...
MACCS_162    0.052099
MACCS_163    0.005927
MACCS_164    0.000000
MACCS_165    0.013699
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3393     3
True      17   109

テストデータ

       False  True
False   1122    11
True      19    23

正解率(Accuracy) : 訓練 0.9943214082907439, 検証 0.9744680851063829
適合率(Precision) : 訓練 0.9732142857142857, 検証 0.6764705882352942
再現率(Recall) : 訓練 0.8650793650793651, 検証 0.5476190476190477
F1スコア : 訓練 0.9159663865546218, 検証 0.6052631578947368

# pau

In [17]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 117].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: pau, Length: 4697, dtype: object

pau
False    4671
True       26
Name: count, dtype: int64

           importance
Al / Si      0.019551
Na / Si      0.023110
F / Si       0.011891
H2O / Si     0.077556
sda1 / Si    0.032946
...               ...
MACCS_162    0.000000
MACCS_163    0.000000
MACCS_164    0.000000
MACCS_165    0.001951
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3501     2
True       2    17

テストデータ

       False  True
False   1165     3
True       7     0

正解率(Accuracy) : 訓練 0.9988642816581488, 検証 0.9914893617021276
適合率(Precision) : 訓練 0.8947368421052632, 検証 0.0
再現率(Recall) : 訓練 0.8947368421052632, 検証 0.0
F1スコア : 訓練 0.8947368421052632, 検証 0.0

# lta

In [18]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 118].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: lta, Length: 4697, dtype: object

lta
False    4577
True      120
Name: count, dtype: int64

           importance
Al / Si      0.012807
Na / Si      0.013154
F / Si       0.006786
H2O / Si     0.017175
sda1 / Si    0.010006
...               ...
MACCS_162    0.010441
MACCS_163    0.025427
MACCS_164    0.000000
MACCS_165    0.012218
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3426     6
True       7    83

テストデータ

       False  True
False   1131    14
True      22     8

正解率(Accuracy) : 訓練 0.9963089153889836, 検証 0.9693617021276596
適合率(Precision) : 訓練 0.9325842696629213, 検証 0.36363636363636365
再現率(Recall) : 訓練 0.9222222222222223, 検証 0.26666666666666666
F1スコア : 訓練 0.9273743016759777, 検証 0.3076923076923077

# jbw

In [1]:
import pandas as pd
dataset=pd.read_csv('dataset_maccs_CBU_jbw.csv', index_col=0, header=0)
x=dataset.iloc[:, :93]
display(x)
y=dataset.iloc[:, 119].astype(str)
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

,Al / Si,Na / Si,F / Si,H2O / Si,sda1 / Si,OH / Si,cryst_time,cryst_temp,MACCS_11,MACCS_19,...,MACCS_155,MACCS_156,MACCS_158,MACCS_159,MACCS_160,MACCS_162,MACCS_163,MACCS_164,MACCS_165,MACCS_166
249,0.012500,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
250,0.010000,0.529,0.0,20.4,0.356,0.356,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
251,0.012500,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
252,0.010000,0.529,0.0,20.4,0.297,0.297,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
253,0.033333,0.529,0.0,20.4,0.237,0.237,110.0,140.0,0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29950,0.039501,0.000,0.5,0.0,0.250,0.000,816.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29951,0.020408,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29952,0.020408,0.000,0.5,0.0,0.250,0.000,216.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29977,0.100110,0.000,0.5,0.0,0.250,0.000,168.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0
29978,0.100110,0.000,0.5,0.0,0.250,0.000,336.0,175.0,0,0,...,1,0,1,0,0,0,1,0,1,0

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: jbw, Length: 4697, dtype: object

jbw
False    4148
True      549
Name: count, dtype: int64

           importance
Al / Si      0.026030
Na / Si      0.007045
F / Si       0.005011
H2O / Si     0.019677
sda1 / Si    0.009984
...               ...
MACCS_162    0.005756
MACCS_163    0.013215
MACCS_164    0.074759
MACCS_165    0.013321
MACCS_166    0.000000

[93 rows x 1 columns]

トレーニングデータ

       False  True
False   3105     5
True       8   404

テストデータ

       False  True
False   1023    15
True      26   111

正解率(Accuracy) : 訓練 0.9963089153889836, 検証 0.9651063829787234
適合率(Precision) : 訓練 0.9877750611246944, 検証 0.8809523809523809
再現率(Recall) : 訓練 0.9805825242718447, 検証 0.8102189781021898
F1スコア : 訓練 0.9841656516443362, 検証 0.844106463878327