# mor

In [3]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 84]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951     True
29952     True
29977     True
29978     True
Name: mor, Length: 4697, dtype: bool

mor
False    2755
True     1942
Name: count, dtype: int64

                   importance
Al / Si              0.008568
Na / Si              0.007298
F / Si               0.009503
H2O / Si             0.007362
sda1 / Si            0.004492
...                       ...
fr_Ndealkylation2    0.001739
fr_bicyclic          0.007935
fr_piperdine         0.000000
fr_quatN             0.000438
fr_unbrch_alkane     0.004074

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   2054     12
True      17   1439

テストデータ

       False  True
False    648     41
True      47    439

正解率(Accuracy) : 訓練 0.9917660420215787, 検証 0.9251063829787234
適合率(Precision) : 訓練 0.9917298414886285, 検証 0.9145833333333333
再現率(Recall) : 訓練 0.9883241758241759, 検証 0.9032921810699589
F1スコア : 訓練 0.9900240798073615, 検証 0.9089026915113871

# bea

In [4]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 85]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951    False
29952    False
29977     True
29978     True
Name: bea, Length: 4697, dtype: bool

bea
False    4233
True      464
Name: count, dtype: int64

                   importance
Al / Si              0.004898
Na / Si              0.014871
F / Si               0.009714
H2O / Si             0.017847
sda1 / Si            0.010406
...                       ...
fr_Ndealkylation2    0.003636
fr_bicyclic          0.000808
fr_piperdine         0.001817
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3173      1
True       4    344

テストデータ

       False  True
False   1040     19
True      16    100

正解率(Accuracy) : 訓練 0.998580352072686, 検証 0.9702127659574468
適合率(Precision) : 訓練 0.9971014492753624, 検証 0.8403361344537815
再現率(Recall) : 訓練 0.9885057471264368, 検証 0.8620689655172413
F1スコア : 訓練 0.9927849927849928, 検証 0.851063829787234

# mtt

In [5]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 86]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: mtt, Length: 4697, dtype: bool

mtt
False    4192
True      505
Name: count, dtype: int64

                   importance
Al / Si              0.007275
Na / Si              0.010246
F / Si               0.001111
H2O / Si             0.021468
sda1 / Si            0.008390
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.002806
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.007919

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3142      1
True       6    373

テストデータ

       False  True
False   1027     22
True      20    106

正解率(Accuracy) : 訓練 0.9980124929017604, 検証 0.9642553191489361
適合率(Precision) : 訓練 0.9973262032085561, 検証 0.828125
再現率(Recall) : 訓練 0.9841688654353562, 検証 0.8412698412698413
F1スコア : 訓練 0.9907038512616202, 検証 0.8346456692913385

# cas

In [6]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 87]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951     True
29952     True
29977    False
29978    False
Name: cas, Length: 4697, dtype: bool

cas
False    3357
True     1340
Name: count, dtype: int64

                   importance
Al / Si              0.020678
Na / Si              0.007812
F / Si               0.011217
H2O / Si             0.011042
sda1 / Si            0.005174
...                       ...
fr_Ndealkylation2    0.019765
fr_bicyclic          0.019302
fr_piperdine         0.010321
fr_quatN             0.000000
fr_unbrch_alkane     0.049787

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   2512      5
True      10    995

テストデータ

       False  True
False    812     28
True      36    299

正解率(Accuracy) : 訓練 0.995741056218058, 検証 0.945531914893617
適合率(Precision) : 訓練 0.995, 検証 0.9143730886850153
再現率(Recall) : 訓練 0.9900497512437811, 検証 0.8925373134328358
F1スコア : 訓練 0.9925187032418953, 検証 0.9033232628398792

# d6r

In [7]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 88]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251       True
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d6r, Length: 4697, dtype: bool

d6r
False    3705
True      992
Name: count, dtype: int64

                   importance
Al / Si              0.007638
Na / Si              0.004342
F / Si               0.004225
H2O / Si             0.005024
sda1 / Si            0.005448
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.001804
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.003051

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   2774      4
True      11    733

テストデータ

       False  True
False    899     28
True      34    214

正解率(Accuracy) : 訓練 0.995741056218058, 検証 0.9472340425531914
適合率(Precision) : 訓練 0.994572591587517, 検証 0.8842975206611571
再現率(Recall) : 訓練 0.9852150537634409, 検証 0.8629032258064516
F1スコア : 訓練 0.9898717083051992, 検証 0.8734693877551021

# fer

In [8]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 89]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: fer, Length: 4697, dtype: bool

fer
False    4455
True      242
Name: count, dtype: int64

                   importance
Al / Si              0.014321
Na / Si              0.013207
F / Si               0.008549
H2O / Si             0.023262
sda1 / Si            0.005649
...                       ...
fr_Ndealkylation2    0.005986
fr_bicyclic          0.000000
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.001467

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3336      5
True       6    175

テストデータ

       False  True
False   1109      5
True      12     49

正解率(Accuracy) : 訓練 0.9968767745599092, 検証 0.985531914893617
適合率(Precision) : 訓練 0.9722222222222222, 検証 0.9074074074074074
再現率(Recall) : 訓練 0.9668508287292817, 検証 0.8032786885245902
F1スコア : 訓練 0.9695290858725761, 検証 0.8521739130434782

# mel

In [9]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 90]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951     True
29952     True
29977    False
29978    False
Name: mel, Length: 4697, dtype: bool

mel
False    3364
True     1333
Name: count, dtype: int64

                   importance
Al / Si              0.010612
Na / Si              0.007983
F / Si               0.003616
H2O / Si             0.005812
sda1 / Si            0.006813
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.023222
fr_quatN             0.000000
fr_unbrch_alkane     0.018286

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   2516      6
True       8    992

テストデータ

       False  True
False    814     28
True      48    285

正解率(Accuracy) : 訓練 0.9960249858035207, 検証 0.9353191489361702
適合率(Precision) : 訓練 0.9939879759519038, 検証 0.9105431309904153
再現率(Recall) : 訓練 0.992, 検証 0.8558558558558559
F1スコア : 訓練 0.992992992992993, 検証 0.8823529411764706

# mfi

In [10]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 91]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951     True
29952     True
29977    False
29978    False
Name: mfi, Length: 4697, dtype: bool

mfi
False    3502
True     1195
Name: count, dtype: int64

                   importance
Al / Si              0.009020
Na / Si              0.005099
F / Si               0.003945
H2O / Si             0.006441
sda1 / Si            0.003902
...                       ...
fr_Ndealkylation2    0.003907
fr_bicyclic          0.000000
fr_piperdine         0.001489
fr_quatN             0.000000
fr_unbrch_alkane     0.008111

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   2617      9
True       6    890

テストデータ

       False  True
False    847     29
True      33    266

正解率(Accuracy) : 訓練 0.995741056218058, 検証 0.9472340425531914
適合率(Precision) : 訓練 0.9899888765294772, 検証 0.9016949152542373
再現率(Recall) : 訓練 0.9933035714285714, 検証 0.8896321070234113
F1スコア : 訓練 0.9916434540389972, 検証 0.8956228956228957

# mtw

In [11]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 92]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950     True
29951    False
29952    False
29977     True
29978     True
Name: mtw, Length: 4697, dtype: bool

mtw
False    4051
True      646
Name: count, dtype: int64

                   importance
Al / Si              0.002917
Na / Si              0.005305
F / Si               0.003703
H2O / Si             0.002675
sda1 / Si            0.005646
...                       ...
fr_Ndealkylation2    0.007611
fr_bicyclic          0.000000
fr_piperdine         0.002186
fr_quatN             0.007132
fr_unbrch_alkane     0.004576

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3036      2
True       6    478

テストデータ

       False  True
False   1000     13
True      20    142

正解率(Accuracy) : 訓練 0.9977285633162976, 検証 0.9719148936170213
適合率(Precision) : 訓練 0.9958333333333333, 検証 0.9161290322580645
再現率(Recall) : 訓練 0.987603305785124, 検証 0.8765432098765432
F1スコア : 訓練 0.991701244813278, 検証 0.8958990536277602

# ton

In [12]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 93]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: ton, Length: 4697, dtype: bool

ton
False    4306
True      391
Name: count, dtype: int64

                   importance
Al / Si              0.009481
Na / Si              0.008030
F / Si               0.003229
H2O / Si             0.018770
sda1 / Si            0.009123
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.024700
fr_piperdine         0.014270
fr_quatN             0.000000
fr_unbrch_alkane     0.012426

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3229      0
True       4    289

テストデータ

       False  True
False   1066     11
True       5     93

正解率(Accuracy) : 訓練 0.9988642816581488, 検証 0.9863829787234043
適合率(Precision) : 訓練 1.0, 検証 0.8942307692307693
再現率(Recall) : 訓練 0.9863481228668942, 検証 0.9489795918367347
F1スコア : 訓練 0.993127147766323, 検証 0.9207920792079208

# non

In [13]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 94]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: non, Length: 4697, dtype: bool

non
False    4579
True      118
Name: count, dtype: int64

                   importance
Al / Si              0.005817
Na / Si              0.005846
F / Si               0.014667
H2O / Si             0.011542
sda1 / Si            0.006866
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.002959
fr_quatN             0.000000
fr_unbrch_alkane     0.000269

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3434      0
True       0     88

テストデータ

       False  True
False   1140      5
True       7     23

正解率(Accuracy) : 訓練 1.0, 検証 0.9897872340425532
適合率(Precision) : 訓練 1.0, 検証 0.8214285714285714
再現率(Recall) : 訓練 1.0, 検証 0.7666666666666667
F1スコア : 訓練 1.0, 検証 0.7931034482758621

# d8r

In [14]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 95]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: d8r, Length: 4697, dtype: bool

d8r
False    4671
True       26
Name: count, dtype: int64

                   importance
Al / Si              0.031180
Na / Si              0.019481
F / Si               0.000000
H2O / Si             0.029860
sda1 / Si            0.007925
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3503      0
True       1     18

テストデータ

       False  True
False   1168      0
True       6      1

正解率(Accuracy) : 訓練 0.9997160704145373, 検証 0.9948936170212765
適合率(Precision) : 訓練 1.0, 検証 1.0
再現率(Recall) : 訓練 0.9473684210526315, 検証 0.14285714285714285
F1スコア : 訓練 0.972972972972973, 検証 0.25

# can

In [15]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 96]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: can, Length: 4697, dtype: bool

can
False    4543
True      154
Name: count, dtype: int64

                   importance
Al / Si              0.012977
Na / Si              0.018432
F / Si               0.000000
H2O / Si             0.009551
sda1 / Si            0.016208
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3404      3
True       6    109

テストデータ

       False  True
False   1130      6
True      10     29

正解率(Accuracy) : 訓練 0.9974446337308348, 検証 0.9863829787234043
適合率(Precision) : 訓練 0.9732142857142857, 検証 0.8285714285714286
再現率(Recall) : 訓練 0.9478260869565217, 検証 0.7435897435897436
F1スコア : 訓練 0.960352422907489, 検証 0.7837837837837838

# phi

In [16]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 97]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: phi, Length: 4697, dtype: bool

phi
False    4581
True      116
Name: count, dtype: int64

                   importance
Al / Si              0.022347
Na / Si              0.012274
F / Si               0.168297
H2O / Si             0.009944
sda1 / Si            0.004188
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3431      4
True       1     86

テストデータ

       False  True
False   1138      8
True       5     24

正解率(Accuracy) : 訓練 0.998580352072686, 検証 0.9889361702127659
適合率(Precision) : 訓練 0.9555555555555556, 検証 0.75
再現率(Recall) : 訓練 0.9885057471264368, 検証 0.8275862068965517
F1スコア : 訓練 0.9717514124293786, 検証 0.7868852459016393

# sod

In [17]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 98]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: sod, Length: 4697, dtype: bool

sod
False    4395
True      302
Name: count, dtype: int64

                   importance
Al / Si              0.053960
Na / Si              0.008515
F / Si               0.025260
H2O / Si             0.007868
sda1 / Si            0.008973
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.007126
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3292      4
True       9    217

テストデータ

       False  True
False   1088     11
True      14     62

正解率(Accuracy) : 訓練 0.9963089153889836, 検証 0.9787234042553191
適合率(Precision) : 訓練 0.9819004524886877, 検証 0.8493150684931506
再現率(Recall) : 訓練 0.9601769911504425, 検証 0.8157894736842105
F1スコア : 訓練 0.970917225950783, 検証 0.8322147651006712

# gme

In [18]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 99]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251       True
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: gme, Length: 4697, dtype: bool

gme
False    4529
True      168
Name: count, dtype: int64

                   importance
Al / Si              0.005887
Na / Si              0.019346
F / Si               0.000000
H2O / Si             0.019087
sda1 / Si            0.007986
...                       ...
fr_Ndealkylation2    0.002764
fr_bicyclic          0.000000
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3391      5
True       9    117

テストデータ

       False  True
False   1127      6
True       7     35

正解率(Accuracy) : 訓練 0.9960249858035207, 検証 0.9889361702127659
適合率(Precision) : 訓練 0.9590163934426229, 検証 0.8536585365853658
再現率(Recall) : 訓練 0.9285714285714286, 検証 0.8333333333333334
F1スコア : 訓練 0.9435483870967742, 検証 0.8433734939759037

# pau

In [19]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 100]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: pau, Length: 4697, dtype: bool

pau
False    4671
True       26
Name: count, dtype: int64

                   importance
Al / Si              0.034258
Na / Si              0.013092
F / Si               0.000000
H2O / Si             0.022579
sda1 / Si            0.010038
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.007303
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3503      0
True       1     18

テストデータ

       False  True
False   1168      0
True       6      1

正解率(Accuracy) : 訓練 0.9997160704145373, 検証 0.9948936170212765
適合率(Precision) : 訓練 1.0, 検証 1.0
再現率(Recall) : 訓練 0.9473684210526315, 検証 0.14285714285714285
F1スコア : 訓練 0.972972972972973, 検証 0.25

# lta

In [20]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 101]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: lta, Length: 4697, dtype: bool

lta
False    4577
True      120
Name: count, dtype: int64

                   importance
Al / Si              0.048715
Na / Si              0.014737
F / Si               0.000000
H2O / Si             0.005577
sda1 / Si            0.009856
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.000000
fr_piperdine         0.000000
fr_quatN             0.000000
fr_unbrch_alkane     0.000000

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3431      1
True       0     90

テストデータ

       False  True
False   1138      7
True       6     24

正解率(Accuracy) : 訓練 0.9997160704145373, 検証 0.9889361702127659
適合率(Precision) : 訓練 0.989010989010989, 検証 0.7741935483870968
再現率(Recall) : 訓練 1.0, 検証 0.8
F1スコア : 訓練 0.994475138121547, 検証 0.7868852459016393

# jbw

In [2]:
import pandas as pd
dataset=pd.read_csv('dataset_rdkit_CBU_jbw.csv', index_col=0, header=0)
x=dataset.iloc[:, :76]
y=dataset.iloc[:, 102]
display(y)
display(y.value_counts())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.25, shuffle=True, stratify=y, random_state=4)
import xgboost as xgb
model=xgb.XGBClassifier()
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train_encoded=label_encoder.fit_transform(y_train)
y_test_encoded=label_encoder.fit_transform(y_test)
model.fit(x_train, y_train_encoded)
importance=pd.DataFrame(model.feature_importances_)
importance.index=x.columns
importance.columns=['importance']
display(importance)

CBU=list(set(y))
CBU.sort()
estimated_y_train=pd.DataFrame(model.predict(x_train))
estimated_y_test=pd.DataFrame(model.predict(x_test))

from sklearn import metrics
confusion_matrix_train=pd.DataFrame(metrics.confusion_matrix(y_train_encoded, estimated_y_train), index=CBU, columns=CBU)
accuracy_train=metrics.accuracy_score(y_train_encoded, estimated_y_train)
precision_train = metrics.precision_score(y_train_encoded, estimated_y_train, pos_label=1)
recall_train = metrics.recall_score(y_train_encoded, estimated_y_train, pos_label=1)
f1_train = metrics.f1_score(y_train_encoded, estimated_y_train, pos_label=1)
print(f"トレーニングデータ")
display(confusion_matrix_train)

confusion_matrix_test=pd.DataFrame(metrics.confusion_matrix(y_test_encoded, estimated_y_test), index=CBU, columns=CBU)
accuracy_test=metrics.accuracy_score(y_test_encoded, estimated_y_test)
precision_test = metrics.precision_score(y_test_encoded, estimated_y_test, pos_label=1)
recall_test = metrics.recall_score(y_test_encoded, estimated_y_test, pos_label=1)
f1_test = metrics.f1_score(y_test_encoded, estimated_y_test, pos_label=1)
print(f"テストデータ")
display(confusion_matrix_test)

print(f"正解率(Accuracy) : 訓練 {accuracy_train}, 検証 {accuracy_test}")
print(f"適合率(Precision) : 訓練 {precision_train}, 検証 {precision_test}")
print(f"再現率(Recall) : 訓練 {recall_train}, 検証 {recall_test}")
print(f"F1スコア : 訓練 {f1_train}, 検証 {f1_test}")

249      False
250      False
251      False
252      False
253      False
         ...
29950    False
29951    False
29952    False
29977    False
29978    False
Name: jbw, Length: 4697, dtype: bool

jbw
False    4148
True      549
Name: count, dtype: int64

                   importance
Al / Si              0.024809
Na / Si              0.011693
F / Si               0.001546
H2O / Si             0.022931
sda1 / Si            0.009764
...                       ...
fr_Ndealkylation2    0.000000
fr_bicyclic          0.002989
fr_piperdine         0.019378
fr_quatN             0.000000
fr_unbrch_alkane     0.006816

[76 rows x 1 columns]

トレーニングデータ

       False  True
False   3108      2
True       5    407

テストデータ

       False  True
False   1022     16
True      21    116

正解率(Accuracy) : 訓練 0.9980124929017604, 検証 0.9685106382978723
適合率(Precision) : 訓練 0.9951100244498777, 検証 0.8787878787878788
再現率(Recall) : 訓練 0.9878640776699029, 検証 0.8467153284671532
F1スコア : 訓練 0.9914738124238733, 検証 0.862453531598513